* {
    margin: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
}

.view-div {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.container {
    width: 1500px;
    height: 200px;
    display: flex;
    position: relative;
}
img{
width: auto;
height: fit-content;
}
.image:nth-child(even) {

    background-color: red;
    text-align: center;
    width: 300px;
    height: 200px;
}

.image:nth-child(odd) {

    background-color: blue;
    text-align: center;
    width: 300px;
    height: 200px;
}

#image1:checked~div div {
    transform: translateX(0);
    transition: 1s;
}
#image2:checked~div div {
    transform:translateX(-150px);
    transition:1s;
}
#image3:checked~div div {
    transform: translateX(-300px);
    transition: 1s;
}
#image4:checked~div div {
    transform: translateX(-450px);
    transition: 1s;
}
#image5:checked~div div {
    transform: translateX(-600px);
    transition: 1s;
}
label{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}
#image1:checked~label:nth-of-type(1),
#image2:checked~label:nth-of-type(2),
#image3:checked~label:nth-of-type(3),
#image4:checked~label:nth-of-type(4),
#image5:checked~label:nth-of-type(5){
background-color:blueviolet;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none;
}